@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
}

.login-container {
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px #ccc;
}

main {
    height: 100vh;
    position: relative;      
}

section#telefone{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 739px;
    width: 501px;
    background: url('../Imagens/tablet\ png.png') no-repeat;

}

iframe#tela{

    position: relative;
    top: 76px;
    left: 30px;

    width: 436px;
    height: 600px;

}
/*button{    
    
    width: 150px;
    height: 20px;
}
img{
    container: center;
    width: 300px;
    height: 300px;
}