
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo global para o corpo da página */
html, body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f4f4f4;
    margin: 0;
    overflow-x: hidden; /* Evitar barras de rolagem horizontais */
    justify-content: space-between;
   
   
}

h1 {
    color: white;
    background-color: green;
    padding: 10px 20px;
    text-align: center;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 128, 0, 0.5);
}

button {
    background-color: lightgreen;
    color: black;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 10px;
}

button:hover {
    background-color: darkgreen;
}


#map {
    width: 90%;
    max-width: 800px;
    height: 400px;
    margin: 20px auto;
    border: 2px solid green;
}

#start, #end, #mode {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
}


.select-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1000; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    text-align: center;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


/* Centralizar e tornar responsivo o cabeçalho */
#cabeçalho {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
    padding-bottom: 20px;
}

#cabeçalho img {
    max-width: 100%;
    height: auto;
}

/* Centralizar e tornar responsivo o logo principal */
#inicial {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#inicial img {
    max-width: 100%;
    height: auto;
}

#bot_links {
    align-items: center;
    display: flex;
    flex-direction: column; /* Coluna para alinhar as imagens verticalmente */
    justify-content: center;
    gap: 100px; /* Espaçamento entre os botões */
    margin: 20 20px auto; /* Centraliza o contêiner horizontalmente */
}

#bot_links a {
    display: inline-block; /* Garante que o link envolva apenas o conteúdo (imagem) */
}

#bot_links img {
    display: block; /* Remove qualquer espaço em branco ao redor da imagem */
    max-width: 100%; /* Ajusta a largura máxima da imagem */
    height: auto; /* Mantém a proporção da imagem */
}


#botoes button {
    background: none;
    border: none;
    padding-top: 200px;
    
    cursor: pointer;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px; /* Define uma altura para os botões */
    margin-bottom: 0px; /* Adicionar margem inferior para espaçamento entre os botões */
}

#botoes button img {
    object-fit: cover; /* Garante que a imagem ocupe todo o espaço do botão */
}

/* Centralizar e tornar responsivo o link de imagem no rodapé */
footer {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0 10px; /* Adicionar padding para evitar overflow */
    margin-top: auto;
}

footer img {
    max-width: 100%;
    height: auto;
}

/* Responsividade para telas menores */
@media (max-width: 600px) {
    #botoes {
        flex-direction: column;
        align-items: center;
    }

    #botoes button {
        margin-bottom: 10=0px;
    }

    #botoes button:last-child {
        margin-bottom: 0;
    }
}

@media (max-width: 600px) {
    #map {
        height: 300px;
    }

    .modal-content {
        width: 95%;
        margin-top: 30%;
    }

    h1, button {
        width: 95%;
        text-align: center;
    }
}
















/*Login----------------------------------*/

/* Estilos gerais para garantir a responsividade */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
    font-size: 16px; /* Tamanho de letra padrão para páginas modernas */
}

/* Estilização do logo */
#logo {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#logo img {
    max-width: 100%;
    height: auto;
}

/* Estilização do formulário */
#loginForm {
    background-color: #fff;
    padding: 20px;
    border: 2px solid green; /* Borda verde */
    box-shadow: 0 4px 8px rgba(0, 128, 0, 0.1); /* Sombra leve com cor verde */
    border-radius: 8px; /* Bordas arredondadas */
    width: 90%; /* Largura responsiva */
    max-width: 360px; /* Máximo de largura para o formulário */
}

#loginForm label {
    font-weight: bold; /* Negrito para os rótulos */
}

#loginForm input[type="text"],
#loginForm input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px; /* Espaço acima do campo */
    margin-bottom: 15px; /* Espaço abaixo do campo */
    border: 1px solid #ccc;
    border-radius: 4px;
}

#loginForm button {
    background-color: green;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    width: 100%;
}

#loginForm button:hover {
    background-color: darkgreen; /* Mudança de cor ao passar o mouse */
}

/* Mensagem de erro */
#errorMessage {
    text-align: center;
}

/* Responsividade para diferentes tamanhos de tela */
@media (min-width: 600px) {
    body {
        font-size: 18px; /* Maior tamanho de letra para telas maiores */
    }
}

















/*Agenda-----------------------------------------------------*/


.Agenda {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}

h1 {
    color: white;
    background-color: green;
    padding: 10px 20px;
    width: 100%;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 128, 0, 0.5);
}

/* Botão de agendamento */
#showCalendarAgenda {
    background-color: lightgreen;
    color: black;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 20px;
}

#showCalendarAgenda:hover {
    background-color: darkgreen;
}

/* Estilo do overlay (fundo cinza) */
#overlayAgenda {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: none;
}
.month-navigation {
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#prevMonth, #nextMonth {
    padding: 10px 20px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#prevMonth:hover, #nextMonth:hover {
    background-color: darkgreen;
}

#currentMonth {
    padding: 5px 10px;
    background-color: white;
    color: green;
    font-weight: bold;
}

#calendario {
    border-collapse: collapse;
    width: 80%;
    max-width: 1000px;
    background-color: white;
    border: 3px solid green; /* Mais destacada */
    box-shadow: 0 4px 8px rgba(0, 128, 0, 0.5);
}

#calendario th {
    background-color: #e0e0e0;
    padding: 10px;
    border: 1px solid #ccc;
}

#calendario td {
    text-align: center;
    padding: 8px;
    border: 1px solid #ccc;
}

.has-event {
    background-color: #ffcccc; /* Cor de fundo para dias com eventos */
    cursor: pointer;
}

.today {
    background-color: #ccffcc; /* Cor de fundo para o dia atual */
}

.popup-containerAgenda {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 600px;
    background-color: white;
    padding: 20px;
    border: 2px solid green;
    box-shadow: 0 4px 8px rgba(0, 128, 0, 0.5);
    display: none;
    z-index: 1000;
}

.popup-contentAgenda {
    text-align: left;
    position: relative;
}

.close-popupAgenda {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}


#scheduleFormAgenda {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

#scheduleFormAgenda label {
    font-weight: bold;
    margin-top: 10px;
}

#scheduleFormAgenda input[type="text"],
#scheduleFormAgenda input[type="date"],
#scheduleFormAgenda input[type="number"],
#scheduleFormAgenda select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;  
}

#scheduleFormAgenda button {
    background-color: green;
    color: white;
    border: none;
    padding: 15px 20px;
    cursor: pointer;
    border-radius: 4px;
    width: 100%;
    font-weight: bold;
    font-size: 18px;
}

#scheduleFormAgenda button:hover {
    background-color: darkgreen;
}

/* Estilo da tabela de agendamentos */
#agendamentos {
    border-collapse: collapse;
    width: 80%;
    max-width: 1000px;
    background-color: white;
    border: 2px solid green;
    box-shadow: 0 2px 4px rgba(0, 128, 0, 0.5);
    margin-bottom: 20px;
}

#agendamentos th, #agendamentos td {
    text-align: center;
    padding: 8px;
    border: 1px solid #ccc;
}

#agendamentos th {
    background-color: #e0e0e0;
}

#agendamentos tr {
    border-bottom: 0.5px solid green;
}

#agendamentos tr:hover {
    background-color: #f1f1f1;
}

/*------------------------------------------------------------------*/


















.Entrega {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}

h1 {
    color: white;
    background-color: green;
    padding: 10px 20px;
    width: 100%;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 128, 0, 0.5);
}

#showCalendarEntrega {
    background-color: lightgreen;
    color: black;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 20px;
}

#showCalendarEntrega:hover {
    background-color: darkgreen;
}

#overlayEntrega {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: none;
}

.popup-containerEntrega {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 600px;
    background-color: #f4f4f4; /* Fundo cinza */
    padding: 20px;
    border: 2px solid green;
    box-shadow: 0 4px 8px rgba(0, 128, 0, 0.5);
    display: none;
    z-index: 1000;
}

.popup-contentEntrega {
    text-align: left;
    position: relative;
}

.close-popupEntrega {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

#scheduleFormEntrega {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

#scheduleFormEntrega label {
    font-weight: bold;
    margin-top: 10px;
}

#scheduleFormEntrega input[type="text"],
#scheduleFormEntrega input[type="date"],
#scheduleFormEntrega input[type="number"],
#scheduleFormEntrega select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;  
}

#scheduleFormEntrega button {
    background-color: green;
    color: white;
    border: none;
    padding: 15px 20px;
    cursor: pointer;
    border-radius: 4px;
    width: 100%;
    font-weight: bold;
    font-size: 18px;
}

#scheduleFormEntrega button:hover {
    background-color: darkgreen;
}

/*----------------------*/
























/* Estilos para o logo com borda e sombra */
#logo-container {
    border: 2px solid green; /* Borda verde sólida */
    box-shadow: 0 4px 8px rgba(0, 128, 0, 0.5); /* Sombra verde suave */
    padding: 10px; /* Espaço dentro do div */
    display: inline-block; /* Tamanho conforme o conteúdo */
}

/* Estilos para os botões para combinarem com o tamanho do texto "Bem-Vindo" */
button {
    background-color: transparent; /* Fundo transparente */
    border: none; /* Sem bordas */
    color: inherit; /* Cor herdada do pai */
    font-size: inherit; /* Tamanho de fonte herdado */
    padding: 5px 10px; /* Padding para fazer o botão um pouco maior */
    margin: 2px 0; /* Margem de 2px em cima e embaixo */
    cursor: pointer; /* Cursor em forma de ponteiro para indicar que é clicável */
}

/* Estilos gerais para o cabeçalho e corpo */
body {
    font-family: Arial, sans-serif; /* Fonte do corpo do documento */
    line-height: 1.6; /* Espaçamento entre linhas */
}

h1 {
    color: green; /* Torna o texto "Bem-Vindo" verde */
    text-align: center; /* Centraliza o cabeçalho */
    background-color: rgb(219, 243, 235);
}

/* Ajustando o layout dos botões para estarem centralizados */
div {
    text-align: center; /* Centraliza os botões dentro do div */
}

/* Estilo padrão para o botão */
#showCalendar {
    background-color: lightgreen; 
    color: black; 
    border: none; 
    padding: 10px 20px; 
    cursor: pointer; 
    transition: background-color 0.3s;
    margin-bottom: 20px;
}

/* Estilo hover para o botão */
#showCalendar:hover {
    background-color: darkgreen; 
}

/*---------------------*/

/* Estilo do overlay (fundo cinza) */
#overlay {
    position: fixed;
    top: 0;
    left: 0;    
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 999; 
    display: none; 
}

/* Estilo do container da janela pop-up */
.popup-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 2px solid green;
    box-shadow: 0 4px 8px rgba(0, 128, 0, 0.5); 
    z-index: 1000; 
    padding: 20px;
    display: none; /
}

/* Estilo do conteúdo da janela pop-up */
.popup-content {
    text-align: center;
    text-align: relative;
}

/* Estilo para o botão de fechar a janela pop-up */
.close-popup {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}


















/* ----- Mapa -----*/

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f4f4f4;
}

h1 {
    color: white;
    background-color: green;
    padding: 10px 20px;
    text-align: center;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 128, 0, 0.5);
}

button {
    background-color: lightgreen;
    color: black;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 10px;
}

button:hover {
    background-color: darkgreen;
}

#map {
    width: 90%;
    max-width: 800px;
    height: 400px;
    margin: 20px auto;
    border: 2px solid green;
}

#start, #end, #mode {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
}

.select-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1000; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    text-align: center;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

@media (max-width: 600px) {
    #map {
        height: 300px;
    }

    .modal-content {
        width: 95%;
        margin-top: 30%;
    }

    h1, button {
        width: 95%;
        text-align: center;
    }
}
/* -----------------------------------*/
